/target
**/*.rs.bk
**/*.o
**/*.obj
**/*.wasm
**/*.map
**/*.gch
**/*.pdb
**/*.c~
**/*.h~
**/*.i
config.h
config.cpp
a.out
a.out.js
a.out.wasm
a.out.wast
wasm-debug.c
wasm-debug.c~
wasm-debug.h
wasm-debug.h~
*.exe.manifest
xor.c
xor.html
xor.wasm.map
